/* You can add global styles to this file, and also import other style files */
@import "functions";
@import "variables";
@import "mixins";
@import "print";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "navbar";
@import "card";
@import "breadcrumb";
@import "pagination";
@import "badge";
@import "jumbotron";
@import "alert";
@import "progress";
@import "media";
@import "list-group";
@import "close";
@import "modal";
@import "tooltip";
@import "popover";
@import "carousel";
@import "utilities";

body {
    font-size: 15px;
    line-height: 1.5;
    padding:0;
    margin:0;
    font-family: 'Quicksand', sans-serif;
    color: #5d7079;
    background-color: #f2f5f7;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .col-centered {
    float: none;
    margin: 0 auto;
  }
  
  .row-base {
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
  }
  
  html {
  overflow-y: scroll;
  }
  
  ul, li {
      margin:0;
      padding: 0;
      list-style: none;
  }
  
  /*
  Flex 
  */
  .flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
   -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
  }
  .flex-item {
    width: 100%;
    max-width:280px;
    text-align: center;
  }
  .wrap    { 
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }  